src/main/mule/buddy-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="37762faa-6277-49a5-9ef3-c922e09188d6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="03e32e82-d55e-4b9c-82e6-75a438220130" basePath="/v6" >
		<http:request-connection protocol="HTTPS" host="open.er-api.com" />
	</http:request-config>
	<flow name="buddy-demoFlow" doc:id="543b2617-b11c-4219-8a03-c1719fcbe291" >
		<http:listener doc:name="Listener" doc:id="505f90e1-0208-438e-95c3-5025ead733ba" config-ref="HTTP_Listener_config" path="/buddy"/>
		<logger level="INFO" doc:name="Logger" doc:id="dc8ca7a7-82d4-45b8-bbf2-89a82f77bdbe" message="#[attributes.queryParams.code]"/>
		<set-variable value="#[attributes.queryParams.code]" doc:name="Set Variable" doc:id="2f421802-55ff-47d4-9580-6b29a4953f39" variableName="currency"/>
		<http:request method="GET" doc:name="Request" doc:id="8844e261-d207-4812-b540-58a7fccee640" config-ref="HTTP_Request_configuration" path="/latest">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	code : attributes.queryParams.code
}]]]></http:uri-params>
		</http:request>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e3b0a970-71e1-4896-922c-33654b5a9e19" />
	</flow>
</mule>
